body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 10px;
        background-color: #ffffff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(81, 78, 78, 0.5);
}

.first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-rows{
    display: flex;
    flex-wrap: wrap;
}

.main-box{
    padding: 20px;
    width: 100px;
    height: 100px;
    border: solid;
    margin: 10px;
    cursor: pointer;
}